html, body{
    height: 100%;
}
#wrap{
    min-height: 100%;
    padding: 0px;
}
section header {
    position: relative;
    height: 240px; width: 1200px;
    margin: auto; padding: 20px;
    background: url('../img/bann.jpg') no-repeat left;
    background-size: auto 240px;
}
section main {
    width: 700px;
    margin: 10px auto; padding: 20px 40px 60px;
    text-align: justify;
    overflow: auto;
/* 
    border-left: 3px solid crimson;
    border-right: 3px solid gold;
*/
}
footer{
    position: relative;
    height: 60px;
    margin-top: -60px;
    clear:both;
}

header h1 {
    display: none;
    margin: 0px 0 0 125px;
    font-size: 42px;
}
header h2 {
    display: none;
    margin: 0px 0 0 125px;
    font-size: 21px;
}
#logo {
    position: absolute;
    top: 130px; left: 800px;
    width: 200px;
}
nav{
    position: absolute;
    bottom: 0px;
    border-bottom: none;
}
nav a.current::before{ 
    content: ">" 
}

hr {
    width: 250px;
    margin-left: 0px;
    text-align: left;
}
code{
    display: inline;
}

pre code{
    display: block;
}

