html, body{
    height: 100%;
}
#wrap{
    min-height: 100%;
    padding: 0px;
}
section header {
    position: relative;
    height: 240px; width: 1200px;
    margin: auto; padding: 20px;
    background: url('/img/bann.jpg') no-repeat left;
    background-size: 1280px 240px;
}
section main {
    width: 700px;
    margin: 10px auto; padding: 20px 40px 60px;
    text-align: justify;
    overflow: auto;
/* 
    border-left: 3px solid crimson;
    border-right: 3px solid gold;
*/
}
footer{
    position: relative;
    height: 60px;
    margin-top: -60px;
    clear:both;
}

header h1 {
    display: none;
    margin: 0px 0 0 125px;
    font-size: 42px;
}
header h2 {
    display: none;
    margin: 0px 0 0 125px;
    font-size: 21px;
}
#logo {
    position: absolute;
    top: 130px; left: 800px;
    width: 200px;
}
nav{
    position: absolute;
    bottom: 0px;
    border-bottom: none;
}
nav a.current::before{ 
    content: ">" 
}

main h1, main h2, main h6{
    color: #0264ad;
    font-family: "Bitter";
    font-weight: 600;
}
main h6{
    text-align: center;
}
main address.signature{
    text-align: right;
    font-style: normal;
    font-weight: bold;
}

hr {
    width: 250px;
    margin-left: 0px;
    text-align: left;
}
code{
    display: inline;
}

pre code{
    display: block;
}

.left{
    float: left;
    margin: 20px; margin-left: 0px;
}

/* la liste */
ul {
    padding: 0px;
    margin: 0 -40px;
}
ul li{
    display: inline-block;
    text-decoration: none;
    vertical-align: top;
}
ul li p{
    font-size: 12px;
    white-space: pre-wrap;
    text-align: center;
}
ul li p img{
    width: 130px;
}
ul li #spacer{
    width: 70px;
}
